# Set up the variables here, rename this file to variables.dev.env or variables.prod.env
# This file is imported in server/index.[prod/dev].js  and client/webpack.
# Website meta
TITLE="My App"
DESCRIPTION="Write every day, skyrocket your productivity"
FAVICON="https://writingstreak.io/img/logo_256x256.png"
AUTHOR="Ray Alez"
SOCIAL_IMAGE="https://writingstreak.io/img/screenshots/social-bright.png"
AUTHOR_HANDLE="@raymestalez"
PROJECT_HANDLE="@raymestalez"

# URLs
NODE_ENV="production"
URL="http://localhost:3031"
API_URL="http://localhost:3031/api/v1"

# Auth
PASSPORT_SECRET="any-random-key"
# https://console.cloud.google.com/apis/credentials
# create credentials > OAuth client ID
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Database
LOCAL_DB="mongodb://localhost:27017/boilerplate"
MONGO_USERNAME=""
MONGO_PASSWORD="" 

# Email
ADMIN_EMAIL="raymestalez@gmail.com"
CONTACT_EMAIL="contact@writingstreak.io"
SENDGRID_KEY=""

# Stripe
# https://dashboard.stripe.com/account/apikeys
STRIPE_SECRET=""
STRIPE_PUBLIC=""
# https://dashboard.stripe.com/test/webhooks/
STRIPE_WEBHOOK_SECRET=""

# Google analytics tracking code (like UA-44003603-15)
GOOGLE_ANALYTICS_TRACKING_CODE=""